* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --color-secondary: #ffffff;
    --color-primary: #23272a;
    --color-section-bg: #f6f6f6;
    --color-header-bg: #2a5ee8;
    --color-accessory: #7289da;
}

body {
    background-color: var(--color-secondary);
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    font-family: "gg sans", "Noto sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}
header {
    background-color:var(--color-header-bg);
       }
 .d-flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        flex-flow: row wrap;
    }
.f-center{
    justify-content: center;
        }

#hero {
    background-image: url('../img/jumbo.png');
   background-size: cover;
   background-repeat: no-repeat;
   color: var(--color-secondary);
}

#hero .container{
    min-height: 500px;
}

.hero-content {
max-width: 900px;
padding: 0 100px;
}
.button-access{
    height: 40px;
    width: 80px;
    border-radius: 20px;
    margin-top: 15px;
   font-weight: bold;
}
.logo{
    margin-top: 20px;
}
.button-white, .button-black {
        height: 50px;
        width: 300px;
        border-radius: 20px;
        font-size: 22px;
        text-align: center;
        display: inline-block;
        margin-top: 40px;
        padding: 0 10px;
      }
.button-black {
    background-color: var(--color-primary);
    color: var(--color-secondary);
}

.c-flex {
    display: flex;
    flex-direction: column;
   justify-content: center;
}
li {
    list-style-type: none;
    padding: 10px;
    }
a {
    color: var(--color-secondary);
    display: block;
    text-decoration: none;
    font-size: 20px;
    padding: 0 15px;
}

p {
    display: block;
    margin-top: 30px;
    text-align: center;
    line-height: 1.8em;
    font-size: 20px;
}
h1 {
    font-size: 46px;
    text-align: center;
}


footer {
    background-color: var(--color-primary);
    color: var(--color-secondary);
}

h3, h2 {
    color: var(--color-accessory);
    
}
.language {
    width: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-block;
}
h4 {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
}
.section-language {
    width: 300px;
}