* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --color-secondary: #ffffff;
    --color-primary: #23272a;
    --color-section-bg: #f6f6f6;
    --color-header-bg: #2a5ee8;
    --color-accessory: #7289da;
}

body {
    background-color: var(--color-secondary);
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    font-family: "gg sans", "Noto sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}
header {
    background-color:var(--color-header-bg);
     margin-bottom: 60px;
       }

/* flex */
 .d-flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        flex-flow: row wrap;
    }
.f-center{
        justify-content: center;
            }
.r-flex {
         display: flex;
         flex-direction: row;
            
            }
.c-flex {
        display: flex;
        flex-direction: column;
        justify-content: center;
            }
.reverse{
       display: flex;
       flex-flow: row-reverse;
            }

#hero {
    background-image: url('../img/jumbo.png');
   background-size: cover;
   background-repeat: no-repeat;
   color: var(--color-secondary);
}

#hero .container{
    min-height: 500px;
}

.hero-content {
max-width: 900px;
padding: 0 100px;
}
.button-access{
    height: 40px;
    width: 80px;
    border-radius: 20px;
    margin-top: 15px;
   font-weight: bold;
}
.logo-header{
    margin-top: 20px;
}
.button-white, .button-black {
        min-height: 50px;
        width: 300px;
        border-radius: 20px;
        font-size: 22px;
        text-align: center;
        display: inline-block;
        margin-top: 40px;
        padding: 0 10px;
      }
.button-black {
    background-color: var(--color-primary);
    color: var(--color-secondary);
}


.logo{
    margin-bottom: 30px;
}

.paragraph {
    line-height: 1.8em;
    width: 40%;
    font-weight: 600;
    margin-top: 70px;
}

li {
    list-style-type: none;
    padding: 10px;
    }
a {
    color: var(--color-secondary);
    display: block;
    text-decoration: none;
    font-size: 20px;
    padding: 0 15px;
}
a:hover {
    text-decoration: underline;
    color: var(--color-accessory);
}
li:hover {
    text-decoration: underline;
    color: var(--color-accessory);
}
#hero p {
    display: block;
    margin-top: 30px;
    text-align: center;
    line-height: 1.8em;
    font-size: 20px;
}
h1 {
    font-size: 46px;
    text-align: center;
}

.text-center {
    text-align: center;
}


footer {
    background-color: var(--color-primary);
    color: var(--color-secondary);
}

h2 {
    margin-bottom: 10px;
    font-size: 48px;
    font-weight: 600px;
    line-height: 1.2em;
}
p {
    font-weight: 600;
}

h5 {
    display: inline-block;
    font-size: 16px;
}

.item {
   margin-top: 10px;
}
.fa-brands {
    margin-right: 10px;
}
 h3, h4 {
    color: var(--color-accessory);
}

h3{
    line-height: 1.5em;
}

.wave {
    display: block;
    opacity: 0.03;
    width: 100%;
    background-repeat: repeat;    
}

.even {
    background-color: var(--color-section-bg);
}
.wave-reverse {
    transform: scaleY(-1);
}
.cl-black {
    padding-bottom: 30px;
    font-size: 1.8em;
}
.button-last {
    background-color: var(--color-accessory);
    color: var(--color-secondary);
}
.last-section {
   padding-bottom:  60px;
}
.flex-footer {
    display: flex;
    justify-content: space-between;
    align-content: space-between
    align-items: center;
    padding: 50px 0;
}
.color-walk{
    color: var(--color-accessory);
    font-size: 24px;
}
 .text-accessory {
    color: var(--color-accessory);
 }
 .language {
    width: 20%;
 }
 .section-li {
    width: 80%;
 }
.flag {
    width: 30px;
 }
 .section-flag{
    display: inline-block;
 }
 .select {
    display: inline-block;
    margin-bottom: 5px;
 }
 .very-last-section{
    border-top: 1px solid var(--color-accessory);
    max-width: 1200px;
   
 }
 .button-register {
    min-height: 50px;
    width: 100px;
    border-radius: 20px;
    font-size: 16px;
    background-color: var(--color-accessory);
 }
.star {
    background-image: url(../img/stars.svg);
    background-repeat: no-repeat;
    width: 50%;
    padding-top: 40px;
    margin: 0 auto;
    background-size: contain;
    background-position: top-center;
}
.size-image{
width: 60%;
min-width: 500px;
}
.size-text {
width: 40%;
min-width: 500px;
}